fastapi
uvicorn[standard]
python-dotenv
neo4j 
langchain-openai
langchain-anthropic

langchain-google-vertexai
google-cloud-aiplatform
google-cloud-storage
google-auth

langchain-google-genai
SQLAlchemy
redis
pyodbc

pymupdf
python-pptx
pptxtopdf