.homepage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    border-right: 2px solid white;
    background-color: #282c34;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.navbar-container button{
    background-color: transparent;
    color: white;
    font-size: 14px;
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-query{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vh;
    margin-top: 5%;
}

.input-bar{
   width: 40%;
   height: 30px;
   border-radius: 10px;
   margin-right: 20px;
   background-color: white;
   color : black;
   padding: 2px;
}

.search-button{
    background-color: white;
    color: black;
    font-size: 12px;
}

.file-upload{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}