.homepage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    border-right: 2px solid white;
    background-color: #282c34;
}

.search-query{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vh;
    margin-top: 5%;
}

.input-bar{
   width: 40%;
   height: 30px;
   border-radius: 10px;
   margin-right: 20px;
}

.search-button{
    background-color: white;
    color: black;
    font-size: 12px;
}

.file-upload{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}