.policy-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.policy-container h2{
    font-size: 24px;
    color: black;
}