.app-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.ai-container{
    width: 40%;
    border-right: 1px solid #ccc;
}
.active-tab-container{
    width: 60%;
}

.landing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    height: 100vh;
}